NEXT_PUBLIC_DEFAULT_CARD_WIDTH=100
NEXT_PUBLIC_DEFAULT_CARD_HEIGHT=150

NEXT_PUBLIC_DEFAULT_BOARD_WIDTH=3
NEXT_PUBLIC_DEFAULT_BOARD_HEIGHT=4

NEXT_PUBLIC_MIN_BOARD_WIDTH=2
NEXT_PUBLIC_MAX_BOARD_WIDTH=4
NEXT_PUBLIC_MIN_BOARD_HEIGHT=2
NEXT_PUBLIC_MAX_BOARD_HEIGHT=4

NEXT_PUBLIC_LS_OPTIONS_KEY="gameOptions"
